/* Login CSS */
.login-container {
    background-image: url('../assets/img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.login-form {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    color: white;
    width: 350px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

button {
    background-color: #3498db;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #2980b9;
}

.register-button {
    background-color: #2ecc71;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.register-button:hover {
    background-color: #27ae60;
}
